<footer>
  <div class="bg-grey1 py-9 md:py-10">
    <div class="container">
      <div class="flex justify-between flex-col md:flex-row space-y-12 md:space-y-0">
        <div class="flex flex-col">
          <p class="mb-4 font-sans-heading text-hS md:text-hM text-grey6">{{ global.fullName }}</p>

          <div class="h-9 md:h-10 inline-flex items-center">
            <a href="mailto:{{ global.email }}">{{ global.email }}</a>
          </div>

          <div class="h-9 md:h-10 inline-flex items-center">
            <p>{{ global.address }}</p>
          </div>

          <div class="-ml-2 mt-6 flex flex-wrap justify-start space-x-3 text-grey6">
            {% for name, link in global.socialLinks %}
              <a href="{{ link }}" target="_blank" class="p-2" aria-label="{{ name }}">
                {% svgIcon 'src/assets/icons/' + name + '-24px.svg' %}
              </a>
            {% endfor %}
          </div>
        </div>

        <div class="flex flex-col">
          <p class="mb-4 font-sans-heading text-hS md:text-hM text-grey6">Projects</p>

          {% for project in collections.projects %}
            <div class="h-9 md:h-10 inline-flex items-center">
              <a href="{{ project.url }}">{{ project.data.title }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
