{% from "components/button.njk" import button %}
<div class="sticky z-10 top-0 left-0 right-0 bg-white text-grey6 text-h4">
  <div class="container">
    <div class="h-16 md:h-[3.75rem] md:my-4 flex justify-between items-center">
      <div class="h-full">
        <a href="/#" class="h-full inline-flex items-center -ml-3.5" aria-label="Homepage" onClick="_headerMenuHide()">
          {% svgIcon '/assets/icons/logo-animated.svg' %}
        </a>
      </div>
      <div class="flex md:hidden flex-col items-end">
        <button id="menu-button" aria-controls="menu" aria-label="Menu" class="p-2 text-grey6" onClick="_headerMenuToggle()">
          {% svgIcon '/assets/icons/menu-24px.svg' %}
        </button>
      </div>
      <div class="h-full hidden md:flex items-center">
        <nav class="flex h-full space-x-8">
          {% for text, link in global.menuLinks %}
            <a href="{{ link }}" class="group text-element uppercase inline-flex items-center">
              <span class="custom-underline">{{ text }}</span>
            </a>
          {% endfor %}
        </nav>
        <div class="ml-8">
          {{ button(tag="a", attrs={
            href: 'mailto:' + global.email
          }, text="Contact" )}}
        </div>
      </div>
    </div>
    <div
      id="menu"
      class="flex hidden md:hidden bg-white pt-16 pb-10 px-5 fixed -z-10 top-0 bottom-0 left-0 right-0 flex-col items-center
        justify-between">
      <div></div>
      <div>
        <nav class="flex flex-col items-center space-y-1" aria-labelledby="menu-button">
          {% for text, link in global.menuLinks %}
            <a href="{{ link }}" class="text-element uppercase group inline-flex items-center h-16" onClick="_headerMenuHide()">
              <span class="custom-underline">{{ text }}</span>
            </a>
          {% endfor %}
        </nav>
        <div class="w-full flex flex-wrap justify-center mt-2 space-x-3">
          {% for name, link in global.socialLinks %}
            <a href="{{ link }}" target="_blank" class="p-2" aria-label="{{ name }}">
              {% svgIcon '/assets/icons/' + name + '-24px.svg' %}
            </a>
          {% endfor %}
        </div>
      </div>
      {{ button(tag="a", attrs={
        href: 'mailto:' + global.email
      }, text="Contact" )}}
    </div>
    <script>
      function _headerMenuToggle() {
        document
          .getElementById('menu')
          .classList
          .toggle('hidden');
        document
          .getElementById('menu-button')
          .classList
          .toggle('active');
        document
          .getElementsByTagName('body')[0]
          .classList
          .toggle('overflow-hidden');
      }
      function _headerMenuHide() {
        document
          .getElementById('menu')
          .classList
          .add('hidden');
        document
          .getElementById('menu-button')
          .classList
          .remove('active');
        document
          .getElementsByTagName('body')[0]
          .classList
          .remove('overflow-hidden');
      }
    </script>
  </div>
</div>
