<!DOCTYPE html>
<html lang="en">
  <head>
    {% set metaDescription = description %}
    {% include "head.njk" %}
  </head>
  <body>
    <div class="text-grey5 text-bodyS md:text-bodyM bg-slate-100 min-h-screen flex flex-col">
      {% include "header.njk" %}

      <main class="container flex-grow">
        <div class="pt-6 pb-16 md:pt-20 md:pb-[7.5rem] lg:pt-[9.75rem] lg:pb-40 grid grid-cols-1 lg:grid-cols-[24rem_auto] gap-6">
          <div class="">
            <h1 class="mb-10 text-grey6 font-sans-heading text-hL md:text-hXL uppercase">{{ title }}</h1>
            <div class="overflow-hidden rounded-[50%] w-[19.0625rem] h-[19.0625rem]">
              <img src="{{ imgSrc }}" class="w-full h-full object-cover"/>
            </div>
          </div>
          <div>
            <div class="mb-9 lg:pt-4">
              {{ content | safe }}
            </div>
            <a href="{{ cvUrl }}" target="_blank" download="cv" class="w-auto h-12 md:h-[3.75rem] px-9 border-[1px] border-grey6 text-grey6  text-element inline-flex items-center justify-center">
              {% svgIcon 'src/assets/icons/download-24px.svg' %}

              <span class="ml-2">
                Download CV
              </span>
            </a>
          </div>
        </div>
      </main>

      {% include "footer.njk" %}
    </div>
  </body>
</html>
