<!DOCTYPE html>
<html lang="en">
  <head>
    {% set metaDescription = description %}
    {% include "head.njk" %}
  </head>
  <body>
    <div class="text-grey5 text-bodyS md:text-bodyM bg-slate-100 min-h-screen flex flex-col">
      {% include "header.njk" %}

      <main class="container flex-grow"> {{ content | safe }}</main>

      {% include "footer.njk" %}
    </div>
  </body>
</html>
