<div class="text-grey6 text-body3 bg-slate-100 min-h-screen flex flex-col">
  {% include "header.njk" %}

  <main class="container py-4 flex-grow">{{ content | safe }}</main>

  <footer>
    <div class="bg-gray-200 text-gray-900 py-4">
      <div class="container py-4">
        <div class="flex justify-center">
          {# TODO #}
          {# {socialLinks.map(({ text, href }) => ( #}
            <a href="/TEST" class="hover:underline mx-4">
              TEST
            </a>
          {# ))} #}
        </div>
      </div>
    </div>
    <div class="bg-gray-800 text-center py-2">
      <div class="container py-4">
        <p>&copy; 2023 Portfolio. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
