@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
  navigation: auto;
}

html {
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #444;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 10px;
}

.custom-link {
  overflow: hidden;
}

.custom-link-default {
  display: inline-block;
  transform: translateY(0%);
  transition: transform 250ms ease-in-out;
}

.custom-link-hover {
  display: inline-block;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.custom-link:hover > .custom-link-default {
  transform: translateY(-100%);
}

.custom-link:hover > .custom-link-hover {
  transform: translateY(0%);
}

/* additional md styles */
p.md:has(img, picture, video, iframe) {
  width: 100%;
  max-width: 100%;
}
