@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
  navigation: auto;
}

html {
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #444;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 10px;
}

.custom-underline {
  text-decoration: none;
  position: relative;
}

.custom-underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: currentColor;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.group:hover > .custom-underline::after {
  opacity: 1;
  transform: scaleX(1);
}

/* additional md styles */
p.md:has(img, picture, video, iframe) {
  width: 100%;
  max-width: 100%;
}
