---
layout: base.njk
title: Not found
---

<h1 class="mt-24 mb-16">Page not found</h1>
<p class="mb-12">
  Sorry 😔, we couldn't find what you were looking for.
  <br/> <br/>
  <a class="hover:underline" href="/">
    Go home
  </a>
  .
</p>
