---
layout: layout-default.njk
title: About Me
imgSrc: https://github.com/haiarha/em-per.github.io/assets/28811614/4062ee02-c444-4290-9458-08a2fc877d23
contents:
  - My key value is quality work. In my work I always balance between user needs and business goals.
  - I always collaborate with developing and business management teams to enhance engagement and work productivity.
  - I actively use different self-management techniques to stay efficient.
  - I follow a minimalist lifestyle and apply its principles to my design work.
  - My key value is quality work. In my work I always balance between user needs and business goals.
  - I always collaborate with developing and business management teams to enhance engagement and work productivity.
  - I actively use different self-management techniques to stay efficient.
  - I follow a minimalist lifestyle and apply its principles to my design work.
cvUrl: https://github.com/haiarha/em-per.github.io/assets/28811614/4062ee02-c444-4290-9458-08a2fc877d23
---

<div class="pt-6 pb-16 md:pt-20 md:pb-[7.5rem] lg:pt-[9.75rem] lg:pb-40 grid grid-cols-1 lg:grid-cols-[24rem_auto] gap-6">
  <div class="">
    <h1 class="mb-10 text-grey6 font-sans-heading text-hL md:text-hXL uppercase">{{ title }}</h1>
    <div class="overflow-hidden rounded-[50%] w-[19.0625rem] h-[19.0625rem]">
      <img src="{{ imgSrc }}" class="w-full h-full object-cover"/>
    </div>
  </div>
  <div>
    <div class="mb-9 lg:pt-4">
      {% for content in contents %}
        <p class="mb-[0.875rem]">{{ content }}</p>
      {% endfor %}
    </div>
    <a href="{{ cvUrl }}" download="w3logo" class="w-auto h-12 md:h-[3.75rem] px-9 border-[1px] border-grey6 text-grey6  text-element inline-flex items-center justify-center">
      {% svgIcon 'src/assets/icons/download-24px.svg' %}

      <span class="ml-2">
        Download CV
      </span>
      </a>
  </div>
</div>
