---
layout: layout-default.njk
title: Hi, I'm Margo.
description: UX/UI designer | Product designer, based in Lisbon, Portugal. Welcome to my portfolio.
---

<div class="py-16 md:py-[11.625rem] lg:py-52">
  <div class="">
    <h1 class="mb-3 text-grey6 font-sans-heading text-hL md:text-hXL uppercase">{{ title }}</h1>

    <p class="text-bodyM md:text-bodyXL">{{ description }}</p>
  </div>
</div>

<div id="projects" class="pb-16 md:pb-[7.5rem] lg:pb-40 ">
  <h2 class="mb-8 text-grey6 font-sans-heading text-hS md:text-hL uppercase">Projects</h2>

  {% include "projects.njk" %}
</div>
